@keyframes bottomIn
  0%
    opacity: 0
    transform-origin: 0 0
    transform: translate(0, -20px)

  100%
    opacity: 1
    transform-origin: 0 0
    transform: translate(0, 0)

@keyframes bottomOut
  0%
    opacity: 1
    transform-origin: 0 0
    transform: translate(0, 0)

  100%
    opacity: 0
    transform-origin: 0 0
    transform: translate(0, -20px)

@keyframes topIn
  0%
    opacity: 0
    transform-origin: 100% 100%
    transform: translate(0, 20px)
  100%
    opacity: 1
    transform-origin: 100% 100%
    transform: translate(0, 0)

@keyframes topOut
  0%
    opacity: 1
    transform-origin: 100% 100%
    transform: translate(0, 0px)
  100%
    opacity: 0
    transform-origin: 100% 100%
    transform: translate(0, 20px)

@keyframes rightIn
  0%
    opacity: 0
    transform-origin: 0 0
    transform: translate(20px, 0)
  100%
    opacity: 1
    transform-origin: 0 0
    transform: translate(0, 0)

@keyframes rightOut
  0%
    opacity: 1
    transform-origin: 0 0
    transform: translate(0, 0)
  100%
    opacity: 0
    transform-origin: 0 0
    transform: translate(20px, 0)

@keyframes leftIn
  0%
    opacity: 0
    transform-origin: 100% 100%
    transform: translate(-20px, 0)
  100%
    opacity: 1
    transform-origin: 100% 100%
    transform: translate(0, 0)

@keyframes leftOut
  0%
    opacity: 1
    transform-origin: 100% 100%
    transform: translate(0, 0)
  100%
    opacity: 0
    transform-origin: 100% 100%
    transform: translate(-20px, 0)
